/* Apply styles to the entire page */
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #FAEBD7; 
  color: black;
}

.navbar {
  background-color: #333; 
  text-align: center; 
  padding: 10px 0; 
}

.nav-button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-button:hover {
  background-color: #444; 
  font-size: 18px; 
}
